In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import Quine_McCluskey_Functions as qm

In [29]:
df = pd.read_csv("DFF_result.csv")

# Clean data.

# Pulse width values for Pass cases & Current percentage values for Fail cases. 
df.loc[df['fail'] == 'pass', 'Junction Values'] = df.loc[df['fail'] == 'pass', 'Pulse width info']
df.loc[df['fail'] == 'fail', 'Junction Values'] = df.loc[df['fail'] == 'fail', 'Current percentage']


# One-hot encode pass/fail.
drop_col = ['cus', 'real_flux', 'Faulty Junction', 'Pulse magnitude info', 'Phase state info', 'Pulse width info', 'Current percentage' ]
df = df.drop(drop_col, axis=1)

# df.head()

In [30]:
# Rule 1: Initial Bias is between 60%-80%. 
# Rule 2: Junction 4 bias <55%. 

# B_values = []
# Create rule 1, rule 2, pass/fail truth table.

for index, row in df.iterrows():
    val = eval(str(row['Junction Values']))
    if .6 <= val['B01RX1'] <.8:
        df.at[index, 'Rule 1'] = 1
    else: 
        df.at[index, 'Rule 1'] = 0
    if val['B4'] <.55:
        df.at[index, 'Rule 2'] = 1
    else: 
        df.at[index, 'Rule 2'] = 0

columns = df.columns.tolist()
# columns.append(columns.pop(3))
df["fail"] = df["fail"].replace({"pass": 1, "fail": 0})
df = df[columns]

# print (np.min(B_values)) 
# print (np.max(B_values)) 

df.head(20)

,config,pattern,MC,fail,real_output,gold_output,Junction Values,Rule 1,Rule 2
0,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.0,0.04,-0.04",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.83, 'B01RX2': 0.72, 'B01TX1': 0.6...",0.0,0.0
1,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.01,-0.04",0,"{'n300': '0000000000000000', 'n200': '00100000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.85, 'B01RX2': 0.73, 'B01TX1': 0.7...",0.0,0.0
2,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.01,0.01",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.79, 'B01RX2': 0.69, 'B01TX1': 0.6...",1.0,1.0
3,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.06,0.05",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.75, 'B01RX2': 0.66, 'B01TX1': 0.6...",1.0,1.0
4,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.07,0.03",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.77, 'B01RX2': 0.67, 'B01TX1': 0.6...",1.0,1.0
5,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.07,0.05",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.75, 'B01RX2': 0.66, 'B01TX1': 0.6...",1.0,1.0
6,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.01,-0.01",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.81, 'B01RX2': 0.7, 'B01TX1': 0.68...",0.0,0.0
7,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.01,0.01",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.78, 'B01RX2': 0.69, 'B01TX1': 0.6...",1.0,1.0
8,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.02,-0.03",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.83, 'B01RX2': 0.72, 'B01TX1': 0.6...",0.0,0.0
9,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.03,-0.02",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.82, 'B01RX2': 0.71, 'B01TX1': 0.6...",0.0,0.0
10,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.05,-0.03",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.83, 'B01RX2': 0.72, 'B01TX1': 0.6...",0.0,0.0
11,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.06,-0.04",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.84, 'B01RX2': 0.73, 'B01TX1': 0.7...",0.0,0.0
12,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.07,-0.05",0,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.86, 'B01RX2': 0.73, 'B01TX1': 0.7...",0.0,0.0
13,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.07,0.0",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.79, 'B01RX2': 0.69, 'B01TX1': 0.6...",1.0,1.0
14,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.09,0.01",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.78, 'B01RX2': 0.69, 'B01TX1': 0.6...",1.0,1.0
15,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.02,-0.02,-0.02",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.83, 'B01RX2': 0.72, 'B01TX1': 0.6...",0.0,0.0
16,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.02,-0.02,-0.03",0,"{'n300': '0000000000000000', 'n200': '00100000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.85, 'B01RX2': 0.73, 'B01TX1': 0.7...",0.0,0.0
17,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.02,-0.06,-0.04",0,"{'n300': '0000000000000000', 'n200': '00100000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.86, 'B01RX2': 0.74, 'B01TX1': 0.7...",0.0,0.0
18,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.02,-0.07,0.02",1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.79, 'B01RX2': 0.69, 'B01TX1': 0.6...",1.0,1.0
19,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.02,-0.08,-0.02",0,"{'n300': '0000000000000000', 'n200': '00100000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.84, 'B01RX2': 0.72, 'B01TX1': 0.6...",0.0,0.0

In [31]:
# Create buckets.
condition0 = (df[['Rule 1', 'Rule 2', 'fail']] == [0, 0, 0]).all(axis=1)
condition0_df = df[condition0]
print(len(condition0_df))

condition1 = (df[['Rule 1', 'Rule 2', 'fail']] == [0, 0, 1]).all(axis=1)
condition1_df = df[condition1]
print(len(condition1_df))

condition2 = (df[['Rule 1', 'Rule 2', 'fail']] == [0, 1, 0]).all(axis=1)
condition2_df = df[condition2]
print(len(condition2_df))

condition3 = (df[['Rule 1', 'Rule 2', 'fail']] == [0, 1, 1]).all(axis=1)
condition3_df = df[condition3]
print(len(condition3_df))

condition4 = (df[['Rule 1', 'Rule 2', 'fail']] == [1, 0, 0]).all(axis=1)
condition4_df = df[condition4]
print(len(condition4_df))

condition5 = (df[['Rule 1', 'Rule 2', 'fail']] == [1, 0, 1]).all(axis=1)
condition5_df = df[condition5]
print(len(condition5_df))

condition6 = (df[['Rule 1', 'Rule 2', 'fail']] == [1, 1, 0]).all(axis=1)
condition6_df = df[condition6]
print(len(condition6_df))

condition7 = (df[['Rule 1', 'Rule 2', 'fail']] == [1, 1, 1]).all(axis=1)
condition7_df = df[condition7]
print(len(condition7_df))

10105
5912
234
465
172
25
6202
16886

In [39]:
condition6_df['driver'] = condition6_df['config'].str.split('_').str[0]
condition6_df['load'] = condition6_df['config'].str.split('_').str[6]
condition6_df['splitterNum'] = condition6_df['config'].str.split('_').str[2]
condition6_df = pd.get_dummies(condition6_df, columns = ["driver", "load", "splitterNum"])


truthTable_6 = condition6_df[condition6_df.columns[-14:]]
truthTable_6

# minterms_6 = []
# for row in truthTable_6.values:
#     binary = "".join(map(str, row))
#     minterms_6.append(binary)

# minterms_6 = list(set(minterms_6))
# minterms_6.sort()
# print (len(minterms_6))
# no_of_variable = 14
# prime_implicants = qm.check(minterms_6)
# print("Prime Implicants are:")
# print(prime_implicants)
# chart = qm.prime_implicant_chart(prime_implicants, minterms_6)

# essential_prime_implicants = qm.selection(chart, prime_implicants)
# print("Essential Prime Implicants are:")
# print(essential_prime_implicants)
# print(len(essential_prime_implicants))

# truthTable_6.head()

,driver_and,driver_and,driver_and,driver_and,driver_and,driver_and,driver_and,driver_and,driver_dff,driver_dff,...,splitterNum_2,splitterNum_2,splitterNum_3,splitterNum_3,splitterNum_3,splitterNum_3,splitterNum_3,splitterNum_3,splitterNum_3,splitterNum_3
172,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
174,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
186,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
187,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
194,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39996,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
39997,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
39998,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
39999,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
40000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1

In [ ]:
condition7_df['driver'] = condition7_df['config'].str.split('_').str[0]
condition7_df['load'] = condition7_df['config'].str.split('_').str[6]
condition7_df['splitterNum'] = condition7_df['config'].str.split('_').str[2]
condition7_df = pd.get_dummies(condition7_df, columns = ["driver", "load", "splitterNum"])

truthTable_7 = condition7_df.loc[:, 9:]

minterms_7 = []
for row in truthTable_7.values:
    binary = "".join(map(str, row))
    minterms_7.append(binary)

minterms_7 = list(set(minterms_7))
minterms_7.sort()
print(len(minterms_7))

no_of_variable = 14
prime_implicants = qm.check(minterms_7)
print("Prime Implicants are:")
print(prime_implicants)
chart = qm.prime_implicant_chart(prime_implicants, minterms_7)

essential_prime_implicants = qm.selection(chart, prime_implicants)
print("Essential Prime Implicants are:")
print(essential_prime_implicants)
print(len(essential_prime_implicants))

truthTable_7.head()
condition7_df.head()

C:\Users\Carrie Lei\AppData\Local\Temp\ipykernel_27984\4263110134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condition7_df['driver'] = condition7_df['config'].str.split('_').str[0]
C:\Users\Carrie Lei\AppData\Local\Temp\ipykernel_27984\4263110134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condition7_df['load'] = condition7_df['config'].str.split('_').str[6]
C:\Users\Carrie Lei\AppData\Local\Temp\ipykernel_27984\4263110134.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condition7_df['splitterNum'] = condition7_df['config'].str.split('_').str[2]

75
Prime Implicants are:
['0000100001001', '0000100001010', '0000100001100', '0000100010001', '0000100010010', '0000100010100', '0000100100001', '0000100100010', '0000100100100', '0000101000001', '0000101000010', '0000101000100', '0000110000001', '0000110000010', '0000110000100', '0001000001001', '0001000001010', '0001000001100', '0001000010001', '0001000010010', '0001000010100', '0001000100001', '0001000100010', '0001000100100', '0001001000001', '0001001000010', '0001001000100', '0001010000001', '0001010000010', '0001010000100', '0010000001001', '0010000001010', '0010000001100', '0010000010001', '0010000010010', '0010000010100', '0010000100001', '0010000100010', '0010000100100', '0010001000001', '0010001000010', '0010001000100', '0010010000001', '0010010000010', '0010010000100', '0100000001001', '0100000001010', '0100000001100', '0100000010001', '0100000010010', '0100000010100', '0100000100001', '0100000100010', '0100000100100', '0100001000001', '0100001000010', '0100001000100', '0100010000001', '0100010000010', '0100010000100', '1000000001001', '1000000001010', '1000000001100', '1000000010001', '1000000010010', '1000000010100', '1000000100001', '1000000100010', '1000000100100', '1000001000001', '1000001000010', '1000001000100', '1000010000001', '1000010000010', '1000010000100']
Essential Prime Implicants are:
['0000100001001', '0000100001010', '0000100001100', '0000100010001', '0000100010010', '0000100010100', '0000100100001', '0000100100010', '0000100100100', '0000101000001', '0000101000010', '0000101000100', '0000110000001', '0000110000010', '0000110000100', '0001000001001', '0001000001010', '0001000001100', '0001000010001', '0001000010010', '0001000010100', '0001000100001', '0001000100010', '0001000100100', '0001001000001', '0001001000010', '0001001000100', '0001010000001', '0001010000010', '0001010000100', '0010000001001', '0010000001010', '0010000001100', '0010000010001', '0010000010010', '0010000010100', '0010000100001', '0010000100010', '0010000100100', '0010001000001', '0010001000010', '0010001000100', '0010010000001', '0010010000010', '0010010000100', '0100000001001', '0100000001010', '0100000001100', '0100000010001', '0100000010010', '0100000010100', '0100000100001', '0100000100010', '0100000100100', '0100001000001', '0100001000010', '0100001000100', '0100010000001', '0100010000010', '0100010000100', '1000000001001', '1000000001010', '1000000001100', '1000000010001', '1000000010010', '1000000010100', '1000000100001', '1000000100010', '1000000100100', '1000001000001', '1000001000010', '1000001000100', '1000010000001', '1000010000010', '1000010000100']
75

,config,pattern,MC,Rule 1,Rule 2,fail,real_output,gold_output,Junction Values,driver_and,...,driver_or,driver_xor,load_and,load_dff,load_inv,load_or,load_xor,splitterNum_0,splitterNum_1,splitterNum_2
2,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.01,0.01",1.0,1,1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.79, 'B01RX2': 0.69, 'B01TX1': 0.6...",1,...,0,0,1,0,0,0,0,1,0,0
3,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.06,0.05",1.0,1,1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.75, 'B01RX2': 0.66, 'B01TX1': 0.6...",1,...,0,0,1,0,0,0,0,1,0,0
4,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.07,0.03",1.0,1,1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.77, 'B01RX2': 0.67, 'B01TX1': 0.6...",1,...,0,0,1,0,0,0,0,1,0,0
5,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,-0.07,0.05",1.0,1,1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.75, 'B01RX2': 0.66, 'B01TX1': 0.6...",1,...,0,0,1,0,0,0,0,1,0,0
7,and_spb_0_dff_spa_0_and,"0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,1","-0.01,0.01,0.01",1.0,1,1,"{'n300': '0000000000000000', 'n200': '00010000...","{'n300': '0000000000000000', 'n200': '00010000...","{'B01RX1': 0.78, 'B01RX2': 0.69, 'B01TX1': 0.6...",1,...,0,0,1,0,0,0,0,1,0,0